@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form action="/Party/GuestList">

<label for="Name">Name</label>
<input id="Name" name="Name" type="text" />

<label for="Email">Email</label>
<input id="Email" name="Email" type="email" />

<label for="Phone">Phone</label>
<input id="Phone" name="Phone" type="text" />

<label for="Attend">Attend</label>
<input id="Attend" name="Attend" type="radio" value="True" />


<input id="btn"  type="submit" value=" Submit " /> 

</form>

